<div class="container">

    <div class="kpi-cards">
        <div class="card">
            <p class="card-title">Valor Total del Inventario (Costo)</p>
            <p class="card-value">{{ valorTotalInventario }}</p>
        </div>
        <div class="card">
            <p class="card-title">Productos Totales (SKUs)</p>
            <p class="card-value">{{ totalProductos }}</p>
        </div>
        <div class="card">
            <p class="card-title">Productos con Poco Stock</p>
            <p class="card-value">{{ productosPocostok }}</p>
        </div>
        <div class="card">
            <p class="card-title">Ganancia Potencial</p>
            <p class="card-value">{{ ganaciaPotencial }}</p>
        </div>
    </div>

    <div class="content-box">
        <header class="header">
            <h1>Inventario de Productos</h1>
            <button class="btn-primary">Añadir Producto</button>
        </header>

        <div class="toolbar">
            <input type="text" class="search-input" placeholder="Buscar por nombre o SKU...">
            <select class="filter-select">
                <option value="">Todas las categorías</option>
            </select>
        </div>

        <div class="table-container">
            <table>
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Categoría</th>
                    <th>Precio de comprar</th>
                    <th>Precio de venta</th>
                    <th>Precio de descuento</th>
                    <th>Precio de mayorista</th>
                    <th>Stock</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let producto of productos">
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.tipoProducto.nombre }}</td>
                    <td>{{ producto.precio_compra }}</td>
                    <td>{{ producto.precio_venta }}</td>
                    <td>{{ producto.precio_promocion }}</td>
                    <td>{{ producto.precio_descuento }}</td>
                    <td>{{ producto.stock_actual }}</td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>
