<div class="modal-overlay">
  <div class="modal-content">
    <button class="close-button" (click)="closeModal()">×</button>

    <div class="form-container">
      <h1>Crear Producto</h1>
      <p class="subtitle">Empresa : <strong>{{ nombreEmpresa }}</strong></p>

      <form (ngSubmit)="onSubmit(productoForm)" #productoForm="ngForm">
        <div class="form-grid">
          <div class="form-group">
            <label for="nombre">Nombre del Producto</label>
            <input type="text" id="nombre" name="nombre" [(ngModel)]="producto().nombre" required>
          </div>
          <div class="form-group">
              <label for="tipoProducto">Tipo de Producto</label>
              
              <select id="tipoProducto" name="id_tipo_producto" [(ngModel)]="producto().id_tipo_producto" required [disabled]="tiposDeProducto().length === 0">
                  <option [ngValue]="null" disabled selected>Selecciona un tipo</option>
                  
                  <option *ngFor="let tipo of tiposDeProducto()" [value]="tipo.id">
                      {{ tipo.nombre }}
                  </option>
              </select>

              @if (error()) {
                  <div class="error-message">{{ error() }}</div>
              }
          </div>
          <div class="form-group full-width">
            <label for="descripcion">Descripción</label>
            <textarea id="descripcion" name="descripcion" [(ngModel)]="producto().descripcion" required></textarea>
          </div>
          <div class="form-group">
            <label for="precioVenta">Precio de Compra</label>
            <input type="number" id="precioCompra" name="precio_compra" [(ngModel)]="producto().precio_compra" required min="0" step="0.01">
          </div>
          <div class="form-group">
            <label for="precioVenta">Precio de Venta</label>
            <input type="number" id="precioVenta" name="precio_venta" [(ngModel)]="producto().precio_venta" required min="0" step="0.01">
          </div>
          <div class="form-group">
            <label for="precioPromocion">Precio de Promoción (opcional)</label>
            <input type="number" id="precioPromocion" name="precio_promocion" [(ngModel)]="producto().precio_promocion" min="0" step="0.01">
          </div>
          <div class="form-group">
            <label for="precioDescuento">Precio con Descuento (opcional)</label>
            <input type="number" id="precioDescuento" name="precio_descuento" [(ngModel)]="producto().precio_descuento" min="0" step="0.01">
          </div>
          <div class="form-group">
            <label for="stock">Stock Actual</label>
            <input type="number" id="stock" name="stock_actual" [(ngModel)]="producto().stock_actual" required min="0">
          </div>
          <div class="form-group full-width image-upload-section"
                (dragover)="onDragOver($event)"
                (dragleave)="onDragLeave($event)"
                (drop)="onDrop($event)"
                [class.drag-over]="isDragging">

                <h3>Subir Imágenes (Máx. 3)</h3>

                <input
                    type="file"
                    #fileInput
                    (change)="onFileSelected($event)"
                    accept="image/*"
                    multiple
                    style="display: none;">

                <button type="button" class="btn-secondary" (click)="fileInput.click()">
                    Seleccionar Imágenes
                </button>

                <p *ngIf="isDragging" class="drop-prompt">Suelta las imágenes aquí</p>

                <small *ngIf="!isDragging && selectedFiles.length === 0" style="margin-left: 10px;">
                    o arrastra los archivos aquí
                </small>

                <div class="image-previews">
                    @for (image of imagePreviews; track $index) {
                        <div class="image-preview-item">
                            <img [src]="image" alt="Previsualización" class="thumbnail">
                            <button type="button" class="remove-image-btn" (click)="removeImage($index)" title="Eliminar imagen">
                                &times;
                            </button>
                        </div>
                    }
                </div>

                <small *ngIf="selectedFiles.length >= 4" class="text-warning">
                    Has alcanzado el límite maximo 3 imágenes.
                </small>
          </div>
        </div>

        <div class="form-actions">
          <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancelar</button>
          <button type="submit" class="btn btn-primary" [disabled]="!productoForm.valid">Crear Producto</button>
        </div>
      </form>
    </div>
  </div>
</div>
