<div class="search-container">
    <div class="search-field">
      <label for="search-name">Nombre</label>
      <input type="text" id="search-name" placeholder="Barbería, Spa, Tatuajes..." />
    </div>
    <div class="search-filters">
      <div class="filter-item">
        <label for="tipo">Tipo</label>
        <select id="tipo">
          <option>Cualquiera</option>
          <option>Barbería</option>
          <option>Spa</option>
          <option>Veterinaria</option>
        </select>
      </div>

      <div class="filter-item">
        <label for="precio">Precio</label>
        <select id="precio">
          <option>Cualquiera</option>
          <option>$ (Menos de $10)</option>
          <option>$$ ($10 - $25)</option>
          <option>$$$ (Más de $25)</option>
        </select>
      </div>
    </div>



    <button class="search-btn">🔍</button>
  </div>

