<div class="header">
  <div class="logo">
    <h1>Mi app</h1>
  </div>
  <nav>
    <a href="#">Somos</a>
    <a href="#">Empresas</a>
    <a (click)="redirigirALogin()">Login</a>
  </nav>
</div>

<main class="content-grid" >
      <div class="results-container">
        <app-lista-resultados></app-lista-resultados>
      </div>

      <div class="map-container" >
          <app-mapa-resultados-busqueda [locations]="datosQuemados"></app-mapa-resultados-busqueda>
      </div>

</main>

<app-fother-cliente></app-fother-cliente>
